<div id="debug_container" class="clearfix container-menu">
	<div class="left-menu">
		<div class="category-group">
			<div id="registrations" class="category">
				<div class="title">
					<i class="fa fa-rss"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.registrations }}</span>
				</div>
			</div>
			<div id="smtpLogs" class="category">
				<div class="title">
					<i class="fa fa-envelope"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.smtpLogs }}</span>
				</div>
			</div>
			<div id="callInspector" class="category">
				<div class="title">
					<i class="fa fa-search-plus"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.callInspector }}</span>
				</div>
			</div>
			<div id="presence" class="category">
				<div class="title">
					<i class="fa fa-lightbulb-o"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.presence }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="right-content clearfix">

	</div>
</div>
